body {
  font-family: "Roboto", sans-serif;
}

.grid {
  height: 100vh;
  display: grid;
  grid-template-rows: 5rem 5rem 5rem auto;
  grid-template-columns: auto;
  grid-template-areas: "header" "navbar" "navbar2" "main";
}

.headerInfos {
  grid-area: header;
  display: flex;
  background-color: rgb(30, 30, 30);
  align-items: center;
  justify-content: space-between;
}
.headerInfos .logo {
  margin-left: 0.5rem;
  width: 4rem;
  height: 4rem;
}
.headerInfos .title {
  color: rgb(144, 238, 144);
  position: absolute;
  transform: translate(-50%, 0);
  left: 50%;
  font-size: 3rem;
}
.headerInfos .icons {
  margin-right: 0.5rem;
}
.headerInfos .icons img {
  margin: 1rem;
  width: 3rem;
  height: 3rem;
}

.navbarOptions,
.mainOptions {
  background-color: rgb(40, 40, 40);
  display: flex;
}
.navbarOptions label,
.mainOptions label {
  color: white;
  font-size: 1rem;
  font-weight: bolder;
}

.navbarOptions {
  grid-area: navbar;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.navbarOptions .textMaxPrice,
.navbarOptions .textMinPrice,
.navbarOptions .choiceCategory,
.navbarOptions .choiceCondition {
  border-radius: 0.3rem;
  border: none;
  height: 2rem;
  background-color: rgb(200, 200, 200);
}
.navbarOptions .textMaxPrice::-moz-placeholder, .navbarOptions .textMinPrice::-moz-placeholder {
  color: black;
  font-size: 1rem;
}
.navbarOptions .textMaxPrice::placeholder,
.navbarOptions .textMinPrice::placeholder {
  color: black;
  font-size: 1rem;
}
.navbarOptions .textMaxPrice::-webkit-outer-spin-button,
.navbarOptions .textMaxPrice::-webkit-inner-spin-button,
.navbarOptions .textMinPrice::-webkit-outer-spin-button,
.navbarOptions .textMinPrice::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.mainOptions {
  display: flex;
  grid-area: navbar2;
  background-color: rgb(50, 50, 50);
  justify-content: flex-start;
  align-items: center;
}
.mainOptions .choiceTab {
  border-radius: 0.3rem;
  border: none;
  height: 2rem;
  background-color: rgb(200, 200, 200);
}
.mainOptions .labelChoiceTab {
  margin-left: 1.5rem;
}
.mainOptions .textSearchbar {
  border-radius: 0.3rem;
  border: none;
  height: 2rem;
  background-color: rgb(200, 200, 200);
  margin-left: 1rem;
}
.mainOptions .buttonSearchbar {
  background-color: rgb(144, 238, 144);
  color: black;
  border: none;
  border-radius: 0.3rem;
  cursor: pointer;
  transition: background-color 0.3s;
  height: 2rem;
}
.mainOptions .buttonSearchbar:hover {
  background-color: rgb(50, 150, 50);
}
.mainOptions .textSearchbar::-moz-placeholder {
  color: black;
  font-size: 1rem;
}
.mainOptions .textSearchbar::placeholder {
  color: black;
  font-size: 1rem;
}

main {
  grid-area: main;
  display: flex;
  overflow-y: auto;
  background-color: rgb(50, 50, 50);
}
main .listingsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-left: 1rem;
  margin-right: 1rem;
}
main .listingsContainer article {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  height: auto;
  width: 15.2rem;
  background-color: rgb(40, 40, 40);
  margin-right: 1.5rem;
  margin-bottom: 1.5rem;
  border-radius: 2rem;
}
main .listingsContainer article img {
  height: 15rem;
  width: 100%;
  border-radius: 2rem;
}
main .listingsContainer article h2 {
  color: white;
  margin: 0.5rem 1rem;
  font-size: 1.5rem;
  line-height: 1.5rem;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
main .listingsContainer article p {
  color: rgb(144, 238, 144);
  margin-top: auto;
  margin-left: 1rem;
  font-weight: bolder;
  font-size: 1rem;
}

::-webkit-scrollbar {
  width: 0.5rem;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(144, 238, 144);
  border-radius: 1rem;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgb(50, 150, 50);
}

::-webkit-scrollbar-track {
  background-color: rgb(30, 30, 30);
  border-radius: 1rem;
}/*# sourceMappingURL=style.css.map */