$font: "Roboto", sans-serif;
$headerColor: rgb(30, 30, 30);
$navColor: rgb(40, 40, 40);
$mainColor: rgb(50, 50, 50);
$backgroundTextColor: rgb(200, 200, 200);
$limeGreen: rgb(144, 238, 144);
$darkGreen: rgb(50, 150, 50);

body {
  font-family: $font;
}

.grid {
  height: 100vh;
  display: grid;
  grid-template-rows: 5rem 5rem 5rem auto;
  grid-template-columns: auto;
  grid-template-areas:
    "header"
    "navbar"
    "navbar2"
    "main";
}

.headerInfos {
  grid-area: header;
  display: flex;
  background-color: $headerColor;
  align-items: center;
  justify-content: space-between;

  .logo {
    margin-left: 0.5rem;
    width: 4rem;
    height: 4rem;
  }

  .title {
    color: $limeGreen;
    position: absolute;
    transform: translate(-50%, 0);
    left: 50%;
    font-size: 3rem;
  }

  .icons {
    margin-right: 0.5rem;
  }

  .icons img {
    margin: 1rem;
    width: 3rem;
    height: 3rem;
  }
}

.navbarOptions,
.mainOptions {
  background-color: $navColor;
  display: flex;

  label {
    color: white;
    font-size: 1rem;
    font-weight: bolder;
  }
}

.navbarOptions {
  grid-area: navbar;
  display: flex;
  justify-content: space-around;
  align-items: center;

  .textMaxPrice,
  .textMinPrice,
  .choiceCategory,
  .choiceCondition {
    border-radius: 0.3rem;
    border: none;
    height: 2rem;
    background-color: $backgroundTextColor;
  }

  .textMaxPrice::placeholder,
  .textMinPrice::placeholder {
    color: black;
    font-size: 1rem;
  }

  .textMaxPrice::-webkit-outer-spin-button,
  .textMaxPrice::-webkit-inner-spin-button,
  .textMinPrice::-webkit-outer-spin-button,
  .textMinPrice::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }
}

.mainOptions {
  display: flex;
  grid-area: navbar2;
  background-color: $mainColor;
  justify-content: flex-start;
  align-items: center;

  .choiceTab {
    border-radius: 0.3rem;
    border: none;
    height: 2rem;
    background-color: $backgroundTextColor;
  }

  .labelChoiceTab {
    margin-left: 1.5rem;
  }

  .textSearchbar {
    border-radius: 0.3rem;
    border: none;
    height: 2rem;
    background-color: $backgroundTextColor;
    margin-left: 1rem;
  }

  .buttonSearchbar {
    background-color: $limeGreen;
    color: black;
    border: none;
    border-radius: 0.3rem;
    cursor: pointer;
    transition: background-color 0.3s;
    height: 2rem;
  }

  .buttonSearchbar:hover {
    background-color: $darkGreen;
  }
  .textSearchbar::placeholder {
    color: black;
    font-size: 1rem;
  }
}

main {
  grid-area: main;
  display: flex;
  overflow-y: auto;
  background-color: $mainColor;

  .listingsContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;

    article {
      margin: 0.5rem;
    }
  }
}

::-webkit-scrollbar {
  width: 0.5rem;
}

::-webkit-scrollbar-thumb {
  background-color: $limeGreen;
  border-radius: 1rem;
}

::-webkit-scrollbar-thumb:hover {
  background-color: $darkGreen;
}

::-webkit-scrollbar-track {
  background-color: $headerColor;
  border-radius: 1rem;
}
